body {
    background: pink;
}   

#coracao {
    width: 100%
}

 #enfermagem {         
    color: blue;
    text-align: left;
}          

h1 {
    text-align: center
    
    
    
    
    
    
    
